-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: condominio
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `api_acordo`
--

DROP TABLE IF EXISTS `api_acordo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_acordo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_criacao` date NOT NULL,
  `quantidade_parcelas` int unsigned NOT NULL,
  `valor_total` decimal(10,2) NOT NULL,
  `unidade_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `api_acordo_unidade_id_e7ccc007_fk_api_unidade_id` (`unidade_id`),
  CONSTRAINT `api_acordo_unidade_id_e7ccc007_fk_api_unidade_id` FOREIGN KEY (`unidade_id`) REFERENCES `api_unidade` (`id`),
  CONSTRAINT `api_acordo_chk_1` CHECK ((`quantidade_parcelas` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_acordo`
--

LOCK TABLES `api_acordo` WRITE;
/*!40000 ALTER TABLE `api_acordo` DISABLE KEYS */;
INSERT INTO `api_acordo` VALUES (2,'2026-05-07',2,2097.00,1);
/*!40000 ALTER TABLE `api_acordo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_acordo_cobrancas`
--

DROP TABLE IF EXISTS `api_acordo_cobrancas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_acordo_cobrancas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `acordo_id` bigint NOT NULL,
  `cobranca_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `api_acordo_cobrancas_acordo_id_cobranca_id_cab3a2df_uniq` (`acordo_id`,`cobranca_id`),
  KEY `api_acordo_cobrancas_cobranca_id_c9082df5_fk_api_cobranca_id` (`cobranca_id`),
  CONSTRAINT `api_acordo_cobrancas_acordo_id_f8aa15f3_fk_api_acordo_id` FOREIGN KEY (`acordo_id`) REFERENCES `api_acordo` (`id`),
  CONSTRAINT `api_acordo_cobrancas_cobranca_id_c9082df5_fk_api_cobranca_id` FOREIGN KEY (`cobranca_id`) REFERENCES `api_cobranca` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_acordo_cobrancas`
--

LOCK TABLES `api_acordo_cobrancas` WRITE;
/*!40000 ALTER TABLE `api_acordo_cobrancas` DISABLE KEYS */;
INSERT INTO `api_acordo_cobrancas` VALUES (7,2,1),(8,2,3),(9,2,5),(10,2,6);
/*!40000 ALTER TABLE `api_acordo_cobrancas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_cobranca`
--

DROP TABLE IF EXISTS `api_cobranca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_cobranca` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `competencia` date NOT NULL,
  `data_vencimento` date NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `data_pagamento` date DEFAULT NULL,
  `forma_pagamento` varchar(20) DEFAULT NULL,
  `multa` decimal(10,2) NOT NULL,
  `juros` decimal(10,2) NOT NULL,
  `unidade_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `api_cobranca_unidade_id_08d5c3c8_fk_api_unidade_id` (`unidade_id`),
  CONSTRAINT `api_cobranca_unidade_id_08d5c3c8_fk_api_unidade_id` FOREIGN KEY (`unidade_id`) REFERENCES `api_unidade` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_cobranca`
--

LOCK TABLES `api_cobranca` WRITE;
/*!40000 ALTER TABLE `api_cobranca` DISABLE KEYS */;
/*!40000 ALTER TABLE `api_cobranca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_condominio`
--

DROP TABLE IF EXISTS `api_condominio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_condominio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) NOT NULL,
  `cnpj` varchar(18) DEFAULT NULL,
  `endereco` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_condominio`
--

LOCK TABLES `api_condominio` WRITE;
/*!40000 ALTER TABLE `api_condominio` DISABLE KEYS */;
INSERT INTO `api_condominio` VALUES (1,'Condom├¡nio 1',NULL,'Rua 1'),(2,'Condom├¡nio 2',NULL,'Rua 2'),(3,'Condom├¡nio 3',NULL,'Rua 3'),(4,'Condominio 4',NULL,'Rua 4');
/*!40000 ALTER TABLE `api_condominio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_parcelaacordo`
--

DROP TABLE IF EXISTS `api_parcelaacordo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_parcelaacordo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `numero_parcela` int unsigned NOT NULL,
  `data_vencimento` date NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `acordo_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `api_parcelaacordo_acordo_id_6138ba3b_fk_api_acordo_id` (`acordo_id`),
  CONSTRAINT `api_parcelaacordo_acordo_id_6138ba3b_fk_api_acordo_id` FOREIGN KEY (`acordo_id`) REFERENCES `api_acordo` (`id`),
  CONSTRAINT `api_parcelaacordo_chk_1` CHECK ((`numero_parcela` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_parcelaacordo`
--

LOCK TABLES `api_parcelaacordo` WRITE;
/*!40000 ALTER TABLE `api_parcelaacordo` DISABLE KEYS */;
INSERT INTO `api_parcelaacordo` VALUES (7,1,'2026-06-06',1048.50,'PENDENTE',2),(8,2,'2026-07-06',1048.50,'PENDENTE',2);
/*!40000 ALTER TABLE `api_parcelaacordo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_unidade`
--

DROP TABLE IF EXISTS `api_unidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_unidade` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `numero` varchar(20) NOT NULL,
  `bloco` varchar(50) DEFAULT NULL,
  `responsavel` varchar(150) NOT NULL,
  `status` varchar(20) NOT NULL,
  `condominio_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `api_unidade_condominio_id_2d661a11_fk_api_condominio_id` (`condominio_id`),
  CONSTRAINT `api_unidade_condominio_id_2d661a11_fk_api_condominio_id` FOREIGN KEY (`condominio_id`) REFERENCES `api_condominio` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_unidade`
--

LOCK TABLES `api_unidade` WRITE;
/*!40000 ALTER TABLE `api_unidade` DISABLE KEYS */;
INSERT INTO `api_unidade` VALUES (1,'1','A','Morador 1','VAGO',2),(2,'2','A','Morador 2','OCUPADO',1),(3,'3','A','Morador 3','OCUPADO',1),(4,'4','A','Morador 4','OCUPADO',1),(5,'5','A','Morador 5','OCUPADO',1),(6,'1','A','Morador 1','OCUPADO',2),(7,'2','A','Morador 2','OCUPADO',2),(8,'3','A','Morador 3','OCUPADO',2),(9,'4','A','Morador 4','OCUPADO',2),(10,'5','A','Morador 5','OCUPADO',2),(11,'1','A','Morador 1','OCUPADO',3),(12,'2','A','Morador 2','OCUPADO',3),(13,'3','A','Morador 3','OCUPADO',3),(14,'4','A','Morador 4','OCUPADO',3),(15,'5','A','Morador 5','OCUPADO',3);
/*!40000 ALTER TABLE `api_unidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_usuario`
--

DROP TABLE IF EXISTS `api_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_usuario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `nome` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_usuario`
--

LOCK TABLES `api_usuario` WRITE;
/*!40000 ALTER TABLE `api_usuario` DISABLE KEYS */;
INSERT INTO `api_usuario` VALUES (1,'pbkdf2_sha256$1200000$K0y5hXOzQgJB13zx1B6tmp$HYlU4GI9KJjaWPqP3U4T0U3HvxESwAMevWn227jI+F4=',NULL,1,'admin2','','','',1,1,'2026-04-30 13:38:59.122622','ADMIN',NULL,'Admin Teste'),(2,'pbkdf2_sha256$1200000$ElQRZzH7ClhFDIXn0aE5zC$VentTAnRpgB7FpbljHXCYu+w17g9zWxms9MDixT97Pk=',NULL,0,'usuario1','','','',0,1,'2026-04-30 13:38:59.544711','USUARIO',NULL,'Usu├írio Comum');
/*!40000 ALTER TABLE `api_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_usuario_groups`
--

DROP TABLE IF EXISTS `api_usuario_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_usuario_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `api_usuario_groups_usuario_id_group_id_d9500af0_uniq` (`usuario_id`,`group_id`),
  KEY `api_usuario_groups_group_id_a1787217_fk_auth_group_id` (`group_id`),
  CONSTRAINT `api_usuario_groups_group_id_a1787217_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `api_usuario_groups_usuario_id_7c19c78d_fk_api_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `api_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_usuario_groups`
--

LOCK TABLES `api_usuario_groups` WRITE;
/*!40000 ALTER TABLE `api_usuario_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `api_usuario_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api_usuario_user_permissions`
--

DROP TABLE IF EXISTS `api_usuario_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api_usuario_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `api_usuario_user_permiss_usuario_id_permission_id_7f855256_uniq` (`usuario_id`,`permission_id`),
  KEY `api_usuario_user_per_permission_id_0ae209ef_fk_auth_perm` (`permission_id`),
  CONSTRAINT `api_usuario_user_per_permission_id_0ae209ef_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `api_usuario_user_per_usuario_id_598fe587_fk_api_usuar` FOREIGN KEY (`usuario_id`) REFERENCES `api_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api_usuario_user_permissions`
--

LOCK TABLES `api_usuario_user_permissions` WRITE;
/*!40000 ALTER TABLE `api_usuario_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `api_usuario_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_api_usuario_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_api_usuario_id` FOREIGN KEY (`user_id`) REFERENCES `api_usuario` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(6,'api','acordo'),(7,'api','cobranca'),(8,'api','condominio'),(9,'api','parcelaacordo'),(10,'api','unidade'),(11,'api','usuario'),(2,'auth','group'),(3,'auth','permission'),(4,'contenttypes','contenttype'),(5,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-07 10:35:25
